SolutionsUnpacked/CustomTeamsIntegration/Workflows/AccountCreate-GenerateaTeamchannel-93F42511-C9EE-EA11-A815-000D3A0C24F7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_Account_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"account","subscriptionRequest/scope":4,"subscriptionRequest/name":"93f42511-c9ee-ea11-a815-000d3a0c24f7"},"authentication":"@parameters('$authentication')"}}},"actions":{"Create_Team_channel_only_if_Originating_Lead_field_empty":{"actions":{"Get_DefaultSalesTeamID_variable_value":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"DefaultSalesTeamID"}}},"Configure_the_Team_channel_of_the_Account":{"runAfter":{"Get_DefaultSalesTeamID_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"47643d69-c4ee-ea11-a815-000d3a0c24f7"},"body":{"text":"@triggerOutputs()?['body/name']","text_1":"@triggerOutputs()?['body/accountid']","text_2":"@outputs('Get_DefaultSalesTeamID_variable_value')?['Body']?['environmentvariablevalue']"}}}},"runAfter":{},"expression":{"equals":["@empty(triggerOutputs()?['body/_originatingleadid_value'])","@true"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}