SolutionsUnpacked/CustomTeamsIntegration/Workflows/LeadCreate-GenerateaDynamics365tabinaTeamchannel-32FC38F9-47EE-EA11-A815-000D3A0C24F7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Lead_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"lead","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Is_the_Lead_linked_to_a_Parent_Account":{"actions":{"Add_Dynamics_365_tab_in_Prospection_channel":{"runAfter":{"Get_DefaultProspectionTeamChannelID_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"f13ea81b-32ed-ea11-a815-000d3a0c24f7"},"body":{"text":"@outputs('Get_DefaultSalesTeamID_variable_value')?['Body']?['environmentvariablevalue']","text_1":"@outputs('Get_DefaultProspectionTeamChannelID_variable_value')?['Body']?['environmentvariablevalue']","text_4":"lead","text_5":"@triggerOutputs()?['body/leadid']","text_6":"@triggerOutputs()?['body/subject']"}}},"Set_TeamID_variable_in_case_of_Prospection":{"runAfter":{"Add_Dynamics_365_tab_in_Prospection_channel":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamID","value":"@outputs('Get_DefaultSalesTeamID_variable_value')?['Body']?['environmentvariablevalue']"}},"Set_TeamChannelID_variable_in_case_of_Prospection":{"runAfter":{"Set_TeamID_variable_in_case_of_Prospection":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamChannelID","value":"@outputs('Get_DefaultProspectionTeamChannelID_variable_value')?['Body']?['environmentvariablevalue']"}},"Set_Dynamics365TabID_variable_in_case_of_Prospection":{"runAfter":{"Set_TeamChannelID_variable_in_case_of_Prospection":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Dynamics365TabID","value":"@outputs('Add_Dynamics_365_tab_in_Prospection_channel')?['Body']?['dynamics365tabid']"}},"Get_DefaultSalesTeamID_variable_value":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"DefaultSalesTeamID"}}},"Get_DefaultProspectionTeamChannelID_variable_value":{"runAfter":{"Get_DefaultSalesTeamID_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"DefaultProspectionTeamChannelID"}}}},"runAfter":{"Initialize_Dynamics365TabID_variable":["Succeeded"]},"else":{"actions":{"Get_Parent_Account_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_parentaccountid_value']","$select":"rpo_teamid, rpo_teamschannelid"},"authentication":"@parameters('$authentication')"}},"Add_Dynamics_365_tab_to_Parent_Account_channel":{"runAfter":{"Get_Parent_Account_record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"f13ea81b-32ed-ea11-a815-000d3a0c24f7"},"body":{"text":"@outputs('Get_Parent_Account_record')?['body/rpo_teamid']","text_1":"@outputs('Get_Parent_Account_record')?['body/rpo_teamschannelid']","text_4":"lead","text_5":"@triggerOutputs()?['body/leadid']","text_6":"@triggerOutputs()?['body/subject']"}}},"Set_TeamID_variable_in_case_of_existing_Parent_Account":{"runAfter":{"Add_Dynamics_365_tab_to_Parent_Account_channel":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamID","value":"@outputs('Get_Parent_Account_record')?['body/rpo_teamid']"}},"Set_TeamChannelID_variable_in_case_of_existing_Parent_Account":{"runAfter":{"Set_TeamID_variable_in_case_of_existing_Parent_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamChannelID","value":"@outputs('Get_Parent_Account_record')?['body/rpo_teamschannelid']"}},"Set_Dynamics365TabID_variable_in_case_of_existing_Parent_Account":{"runAfter":{"Set_TeamChannelID_variable_in_case_of_existing_Parent_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Dynamics365TabID","value":"@outputs('Add_Dynamics_365_tab_to_Parent_Account_channel')?['Body']?['dynamics365tabid']"}}}},"expression":{"equals":["@empty(triggerOutputs()?['body/_parentaccountid_value'])","@true"]},"type":"If"},"Initialize_TeamID_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamID","type":"string"}]}},"Initialize_TeamChannelID_variable":{"runAfter":{"Initialize_TeamID_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamChannelID","type":"string"}]}},"Initialize_Dynamics365TabID_variable":{"runAfter":{"Initialize_TeamChannelID_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Dynamics365TabID","type":"string"}]}},"Add_Dynamics_365_Tab_information_to_the_Lead":{"runAfter":{"Is_the_Lead_linked_to_a_Parent_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"leads","recordId":"@triggerOutputs()?['body/leadid']","item/rpo_teamid":"@variables('TeamID')","item/rpo_teamschannelid":"@variables('TeamChannelID')","item/rpo_teamstabid":"@variables('Dynamics365TabID')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}