SolutionsUnpacked/CustomTeamsIntegration/Workflows/OpportunityCreate-ManageDynamics365tabinaTeamchann-B8B859D1-B1EE-EA11-A815-000D3A0C24F7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_Opportunity_is_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"opportunity","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_TeamID_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamID","type":"string"}]}},"Initialize_TeamChannelID_variable":{"runAfter":{"Initialize_TeamID_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamChannelID","type":"string"}]}},"Initialize_Dynamics365TabID_variable":{"runAfter":{"Initialize_TeamChannelID_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Dynamics365TabID","type":"string"}]}},"Add_Dynamics_365_Tab_information_to_the_Opportunity":{"runAfter":{"Manage_Dynamics_365_tab_depending_on_the_Context_variable_value":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"opportunities","recordId":"@triggerOutputs()?['body/opportunityid']","item/rpo_teamid":"@variables('TeamID')","item/rpo_teamschannelid":"@variables('TeamChannelID')","item/rpo_teamstabid":"@variables('Dynamics365TabID')"},"authentication":"@parameters('$authentication')"}},"Initialize_Context_variable":{"runAfter":{"Initialize_Dynamics365TabID_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Context","type":"string"}]}},"Set_Context_variable":{"actions":{"Opportunity_created_after_a_Lead_qualification_with_new_Parent_Account":{"actions":{"Set_Context_variable_to_LeadQualificationWithNewParentAccount":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Context","value":"LeadQualificationWithNewParentAccount"}}},"runAfter":{},"expression":{"and":[{"equals":["@empty(triggerOutputs()?['body/_originatingleadid_value'])","@false"]},{"equals":["@empty(outputs('Get_Parent_Account_record')?['body/rpo_teamschannelid'])","@true"]}]},"type":"If"},"Opportunity_without_Originating_Lead_and_with_Parent_Account":{"actions":{"Set_Context_variable_to_OpportunityWithoutOriginatingLeadAndWithParentAccount":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Context","value":"OpportunityWithoutOriginatingLeadAndWithParentAccount"}}},"runAfter":{"Opportunity_created_after_a_Lead_qualification_with_existing_Parent_Account":["Succeeded"]},"expression":{"and":[{"equals":["@empty(triggerOutputs()?['body/_originatingleadid_value'])","@true"]},{"equals":["@empty(triggerOutputs()?['body/_parentaccountid_value'])","@false"]}]},"type":"If"},"Opportunity_without_Originating_Lead_and_without_Parent_Account":{"actions":{"Set_Context_variable_to_OpportunityWithoutOriginatingLeadAndWithoutParentAccount":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Context","value":"OpportunityWithoutOriginatingLeadAndWithoutParentAccount"}}},"runAfter":{"Opportunity_without_Originating_Lead_and_with_Parent_Account":["Succeeded"]},"expression":{"and":[{"equals":["@empty(triggerOutputs()?['body/_originatingleadid_value'])","@true"]},{"equals":["@empty(triggerOutputs()?['body/_parentaccountid_value'])","@true"]}]},"type":"If"},"Opportunity_created_after_a_Lead_qualification_with_existing_Parent_Account":{"actions":{"Set_Context_variable_to_LeadQualificationWithExistingParentAccount":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Context","value":"LeadQualificationWithExistingParentAccount"}}},"runAfter":{"Opportunity_created_after_a_Lead_qualification_with_new_Parent_Account":["Succeeded"]},"expression":{"and":[{"equals":["@empty(triggerOutputs()?['body/_originatingleadid_value'])","@false"]},{"equals":["@empty(outputs('Get_Parent_Account_record')?['body/rpo_teamschannelid'])","@false"]}]},"type":"If"}},"runAfter":{"Parent_Account_on_the_Opportunity":["Succeeded"]},"type":"Scope"},"Manage_Dynamics_365_tab_depending_on_the_Context_variable_value":{"runAfter":{"Get_Microsoft_Teams_Collaboration_record_if_there_is_an_Originating_Lead":["Succeeded"]},"cases":{"Case_LeadQualificationWithNewParentAccount":{"case":"LeadQualificationWithNewParentAccount","actions":{"Move_Dynamics_365_tab_to_Parent_Account_channel":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"db2bdd94-0cee-ea11-a815-000d3a0c24f7"},"body":{"text":"@triggerOutputs()?['body/rpo_teamid']","text_1":"@triggerOutputs()?['body/rpo_teamschannelid']","text_2":"opportunity","text_3":"@triggerOutputs()?['body/opportunityid']","text_4":"@triggerOutputs()?['body/name']","text_5":"@triggerOutputs()?['body/rpo_teamstabid']","text_6":"@first(outputs('Search_Microsoft_Teams_Collaboration_records_linked_to_the_Originating_Lead')?['body/value'])?['msdyn_teamscollaborationid']","text_7":"@variables('AccountTeamID')","text_8":"@variables('AccountTeamChannelID')"}}},"Set_TeamID_variable_in_case_of_Lead_Qualification_with_new_Parent_Account":{"runAfter":{"Move_Dynamics_365_tab_to_Parent_Account_channel":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamID","value":"@variables('AccountTeamID')"}},"Set_TeamChannelID_variable_in_case_of_Lead_Qualification_with_new_Parent_Account":{"runAfter":{"Set_TeamID_variable_in_case_of_Lead_Qualification_with_new_Parent_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamChannelID","value":"@variables('AccountTeamChannelID')"}},"Set_Dynamics365TabID_variable_in_case_of_Lead_Qualification_with_new_Account":{"runAfter":{"Set_TeamChannelID_variable_in_case_of_Lead_Qualification_with_new_Parent_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Dynamics365TabID","value":"@outputs('Move_Dynamics_365_tab_to_Parent_Account_channel')?['Body']?['dynamics365tabid']"}}}},"Case_OpportunityWithoutOriginatingLeadAndWithParentAccount":{"case":"OpportunityWithoutOriginatingLeadAndWithParentAccount","actions":{"Add_Dynamics_365_tab_to_Parent_Account_channel":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"f13ea81b-32ed-ea11-a815-000d3a0c24f7"},"body":{"text":"@variables('AccountTeamID')","text_1":"@variables('AccountTeamChannelID')","text_4":"opportunity","text_5":"@triggerOutputs()?['body/opportunityid']","text_6":"@triggerOutputs()?['body/name']"}}},"Set_TeamID_variable_in_case_of_new_Opportunity_on_Existing_Account":{"runAfter":{"Add_Dynamics_365_tab_to_Parent_Account_channel":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamID","value":"@variables('AccountTeamID')"}},"Set_TeamChannelID_variable_in_case_of_new_Opportunity_on_Existing_Account":{"runAfter":{"Set_TeamID_variable_in_case_of_new_Opportunity_on_Existing_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamChannelID","value":"@variables('AccountTeamChannelID')"}},"Set_Dynamics365TabID_variable_in_case_of_new_Opportunity_on_Existing_Account":{"runAfter":{"Set_TeamChannelID_variable_in_case_of_new_Opportunity_on_Existing_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Dynamics365TabID","value":"@outputs('Add_Dynamics_365_tab_to_Parent_Account_channel')?['Body']?['dynamics365tabid']"}}}},"Case_OpportunityWithoutOriginatingLeadAndWithoutParentAccount":{"case":"OpportunityWithoutOriginatingLeadAndWithoutParentAccount","actions":{"Get_DefaultProspectionTeamChannelID_variable_value":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"DefaultProspectionTeamChannelID"}}},"Add_Dynamics_365_tab_in_Prospection_channel":{"runAfter":{"Get_DefaultProspectionTeamChannelID_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"f13ea81b-32ed-ea11-a815-000d3a0c24f7"},"body":{"text":"@outputs('Get_DefaultSalesTeamID_variable_value')?['Body']?['environmentvariablevalue']","text_1":"@outputs('Get_DefaultProspectionTeamChannelID_variable_value')?['Body']?['environmentvariablevalue']","text_4":"opportunity","text_5":"@triggerOutputs()?['body/opportunityid']","text_6":"@triggerOutputs()?['body/name']"}}},"Set_TeamID_variable_in_case_of_Prospection":{"runAfter":{"Add_Dynamics_365_tab_in_Prospection_channel":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamID","value":"@outputs('Get_DefaultSalesTeamID_variable_value')?['Body']?['environmentvariablevalue']"}},"Set_TeamChannelID_variable_in_case_of_Prospection":{"runAfter":{"Set_TeamID_variable_in_case_of_Prospection":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamChannelID","value":"@outputs('Get_DefaultProspectionTeamChannelID_variable_value')?['Body']?['environmentvariablevalue']"}},"Set_Dynamics365TabID_variable_in_case_of_Prospection":{"runAfter":{"Set_TeamChannelID_variable_in_case_of_Prospection":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Dynamics365TabID","value":"@outputs('Add_Dynamics_365_tab_in_Prospection_channel')?['Body']?['dynamics365tabid']"}}}},"Case__LeadQualificationWithExistingParentAccount":{"case":"LeadQualificationWithExistingParentAccount","actions":{"Update_record_linked_to_existing_Dynamics_365_tab":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"0c37fa1c-2ced-ea11-a815-000d3a0c24f7"},"body":{"text":"@triggerOutputs()?['body/rpo_teamid']","text_1":"@triggerOutputs()?['body/rpo_teamschannelid']","text_4":"opportunity","text_5":"@triggerOutputs()?['body/opportunityid']","text_6":"@triggerOutputs()?['body/name']","text_7":"@triggerOutputs()?['body/rpo_teamstabid']","text_8":"@first(outputs('Search_Microsoft_Teams_Collaboration_records_linked_to_the_Originating_Lead')?['body/value'])?['msdyn_teamscollaborationid']"}}},"Set_TeamID_variable_in_case_of_Lead_Qualification_with_existing_Parent_Account":{"runAfter":{"Update_record_linked_to_existing_Dynamics_365_tab":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamID","value":"@triggerOutputs()?['body/rpo_teamid']"}},"Set_TeamChannelID_variable_in_case_of_Lead_Qualification_with_existing_Account":{"runAfter":{"Set_TeamID_variable_in_case_of_Lead_Qualification_with_existing_Parent_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamChannelID","value":"@triggerOutputs()?['body/rpo_teamschannelid']"}},"Set_Dynamics365TabID_variable_in_case_of_Lead_Qualification_with_Account":{"runAfter":{"Set_TeamChannelID_variable_in_case_of_Lead_Qualification_with_existing_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Dynamics365TabID","value":"@outputs('Update_record_linked_to_existing_Dynamics_365_tab')?['Body']?['dynamics365tabid']"}}}}},"default":{"actions":{}},"expression":"@variables('Context')","type":"Switch"},"Get_DefaultSalesTeamID_variable_value":{"runAfter":{"Initialize_AccountTeamChannelID_variable":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"DefaultSalesTeamID"}}},"Initialize_AccountTeamID_variable":{"runAfter":{"Initialize_Context_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AccountTeamID","type":"string"}]}},"Initialize_AccountTeamChannelID_variable":{"runAfter":{"Initialize_AccountTeamID_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"AccountTeamChannelID","type":"string"}]}},"Parent_Account_on_the_Opportunity":{"actions":{"Get_Parent_Account_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_parentaccountid_value']","$select":"accountid, name, rpo_teamid, rpo_teamschannelid"},"authentication":"@parameters('$authentication')"}},"New_Account_as_Parent_Account_on_the_Opportunity":{"actions":{"Configure_the_Team_channel_of_the_Account":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"47643d69-c4ee-ea11-a815-000d3a0c24f7"},"body":{"text":"@outputs('Get_Parent_Account_record')?['body/name']","text_1":"@outputs('Get_Parent_Account_record')?['body/accountid']","text_2":"@outputs('Get_DefaultSalesTeamID_variable_value')?['Body']?['environmentvariablevalue']"}}},"Set_AccountTeamID_variable_for_new_Account":{"runAfter":{"Configure_the_Team_channel_of_the_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"AccountTeamID","value":"@outputs('Get_DefaultSalesTeamID_variable_value')?['Body']?['environmentvariablevalue']"}},"Set_AccountTeamChannelID_variable_for_new_Account":{"runAfter":{"Set_AccountTeamID_variable_for_new_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"AccountTeamChannelID","value":"@outputs('Configure_the_Team_channel_of_the_Account')?['Body']?['accountchannelid']"}}},"runAfter":{"Get_Parent_Account_record":["Succeeded"]},"else":{"actions":{"Set_AccountTeamID_variable_for_existing_Account":{"runAfter":{},"type":"SetVariable","inputs":{"name":"AccountTeamID","value":"@outputs('Get_Parent_Account_record')?['body/rpo_teamid']"}},"Set_AccountTeamChannelID_variable_for_existing_Account":{"runAfter":{"Set_AccountTeamID_variable_for_existing_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"AccountTeamChannelID","value":"@outputs('Get_Parent_Account_record')?['body/rpo_teamschannelid']"}}}},"expression":{"equals":["@empty(outputs('Get_Parent_Account_record')?['body/rpo_teamschannelid'])","@true"]},"type":"If"}},"runAfter":{"Get_DefaultSalesTeamID_variable_value":["Succeeded"]},"expression":{"equals":["@empty(triggerOutputs()?['body/_parentaccountid_value'])","@false"]},"type":"If"},"Get_Microsoft_Teams_Collaboration_record_if_there_is_an_Originating_Lead":{"actions":{"Search_Microsoft_Teams_Collaboration_records_linked_to_the_Originating_Lead":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_teamscollaborations","$select":"msdyn_teamscollaborationid, regardingobjectid","$filter":"regardingobjectid eq '@{triggerOutputs()?['body/_originatingleadid_value']}'"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_Context_variable":["Succeeded"]},"expression":{"or":[{"equals":["@variables('Context')","LeadQualificationWithNewParentAccount"]},{"equals":["@variables('Context')","LeadQualificationWithExistingParentAccount"]}]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}