SolutionsUnpacked/CustomTeamsIntegration/Workflows/OpportunityUpdate-MoveDynamics365tabbasedonParentA-EEBE4E83-C0EE-EA11-A815-000D3A0C24F7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Parent_Account_field_updated_on_an_Opportunity":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"opportunity","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"parentaccountid"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_TeamID_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamID","type":"string"}]}},"Initialize_TeamChannelID_variable":{"runAfter":{"Initialize_TeamID_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamChannelID","type":"string"}]}},"Initialize_Dynamics365TabID_variable":{"runAfter":{"Initialize_TeamChannelID_variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Dynamics365TabID","type":"string"}]}},"Search_Microsoft_Teams_Collaboration_records_linked_to_the_Opportunity":{"runAfter":{"Initialize_Dynamics365TabID_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_teamscollaborations","$select":"msdyn_teamscollaborationid, regardingobjectid","$filter":"regardingobjectid eq '@{triggerOutputs()?['body/opportunityid']}'"},"authentication":"@parameters('$authentication')"}},"Is_the_Opportunity_linked_to_a_Parent_Account":{"actions":{"Set_TeamID_variable_in_case_of_Prospection":{"runAfter":{"Move_Dynamics_365_tab_to_the_Prospection_channel":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamID","value":"@body('Get_DefaultSalesTeamID_variable_value')?['Body']?['environmentvariablevalue']"}},"Set_TeamChannelID_variable_in_case_of_Prospection":{"runAfter":{"Set_TeamID_variable_in_case_of_Prospection":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamChannelID","value":"@body('Get_DefaultProspectionTeamChannelID_variable_value')?['Body']?['environmentvariablevalue']"}},"Set_Dynamics365TabID_variable_in_case_of_Prospection":{"runAfter":{"Set_TeamChannelID_variable_in_case_of_Prospection":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Dynamics365TabID","value":"@outputs('Move_Dynamics_365_tab_to_the_Prospection_channel')?['Body']?['dynamics365tabid']"}},"Move_Dynamics_365_tab_to_the_Prospection_channel":{"runAfter":{"Get_DefaultProspectionTeamChannelID_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"db2bdd94-0cee-ea11-a815-000d3a0c24f7"},"body":{"text":"@triggerOutputs()?['body/rpo_teamid']","text_1":"@triggerOutputs()?['body/rpo_teamschannelid']","text_2":"opportunity","text_3":"@triggerOutputs()?['body/opportunityid']","text_4":"@triggerOutputs()?['body/name']","text_5":"@triggerOutputs()?['body/rpo_teamstabid']","text_6":"@first(outputs('Search_Microsoft_Teams_Collaboration_records_linked_to_the_Opportunity')?['body/value'])?['msdyn_teamscollaborationid']","text_7":"@outputs('Get_DefaultSalesTeamID_variable_value')?['Body']?['environmentvariablevalue']","text_8":"@outputs('Get_DefaultProspectionTeamChannelID_variable_value')?['Body']?['environmentvariablevalue']"}}},"Get_DefaultSalesTeamID_variable_value":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"DefaultSalesTeamID"}}},"Get_DefaultProspectionTeamChannelID_variable_value":{"runAfter":{"Get_DefaultSalesTeamID_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"DefaultProspectionTeamChannelID"}}}},"runAfter":{"Search_Microsoft_Teams_Collaboration_records_linked_to_the_Opportunity":["Succeeded"]},"else":{"actions":{"Get_Parent_Account_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerOutputs()?['body/_parentaccountid_value']","$select":"rpo_teamid, rpo_teamschannelid"},"authentication":"@parameters('$authentication')"}},"Set_TeamID_variable_in_case_of_existing_Parent_Account":{"runAfter":{"Move_Dynamics_365_tab_to_the_Parent_Account_channel":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamID","value":"@outputs('Get_Parent_Account_record')?['body/rpo_teamid']"}},"Set_TeamChannelID_variable_in_case_of_existing_Parent_Account":{"runAfter":{"Set_TeamID_variable_in_case_of_existing_Parent_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TeamChannelID","value":"@outputs('Get_Parent_Account_record')?['body/rpo_teamschannelid']"}},"Set_Dynamics365TabID_variable_in_case_of_existing_Parent_Account":{"runAfter":{"Set_TeamChannelID_variable_in_case_of_existing_Parent_Account":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Dynamics365TabID","value":"@outputs('Move_Dynamics_365_tab_to_the_Parent_Account_channel')?['Body']?['dynamics365tabid']"}},"Move_Dynamics_365_tab_to_the_Parent_Account_channel":{"runAfter":{"Get_Parent_Account_record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"db2bdd94-0cee-ea11-a815-000d3a0c24f7"},"body":{"text":"@triggerOutputs()?['body/rpo_teamid']","text_1":"@triggerOutputs()?['body/rpo_teamschannelid']","text_2":"opportunity","text_3":"@triggerOutputs()?['body/opportunityid']","text_4":"@triggerOutputs()?['body/name']","text_5":"@triggerOutputs()?['body/rpo_teamstabid']","text_6":"@first(outputs('Search_Microsoft_Teams_Collaboration_records_linked_to_the_Opportunity')?['body/value'])?['msdyn_teamscollaborationid']","text_7":"@outputs('Get_Parent_Account_record')?['body/rpo_teamid']","text_8":"@outputs('Get_Parent_Account_record')?['body/rpo_teamschannelid']"}}}}},"expression":{"equals":["@empty(triggerOutputs()?['body/_parentaccountid_value'])","@true"]},"type":"If"},"Add_Dynamics_365_Tab_information_to_the_Opportunity":{"runAfter":{"Is_the_Opportunity_linked_to_a_Parent_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"opportunities","recordId":"@triggerOutputs()?['body/opportunityid']","item/rpo_teamid":"@variables('TeamID')","item/rpo_teamschannelid":"@variables('TeamChannelID')","item/rpo_teamstabid":"@variables('Dynamics365TabID')"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}