SolutionsUnpacked/CustomTeamsIntegration/Workflows/Service-AddDynamics365tabinaTeamchannel-F13EA81B-32ED-EA11-A815-000D3A0C24F7.json
{"properties":{"connectionReferences":{"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51","logicalName":"rpo_5Fms-20graph-20api-20custom"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"TeamID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"ChannelID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"EntityTypeName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"RecordID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"RecordName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_4","text_5","text_6"]}}}},"actions":{"Initialize_EntityTypeCode_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"EntityTypeCode","type":"integer"}]}},"Dynamics_365_tab_creation":{"actions":{"Set_ContentURL_variable":{"runAfter":{},"type":"Compose","inputs":"https://msteamstabintegration.crm.dynamics.com/Home/Bootstrapper#pageType=dynamics-host&dynamicsUrl=https%3A%2F%2F@{outputs('Get_EnvironmentDomain_variable_value')?['Body']?['environmentvariablevalue']}%2Fmain.aspx%3Fappid%3D@{outputs('Get_SalesAppID_variable_value')?['Body']?['environmentvariablevalue']}%26pagetype%3Dentityrecord%26etn%3D@{triggerBody()['text_4']}%26id%3D@{triggerBody()['text_5']}%26navbar%3Doff%26flags%3DFCB.AllowLegacyDialogsInUci%3Dfalse"},"Set_WebSiteURL_variable":{"runAfter":{"Set_ContentURL_variable":["Succeeded"]},"type":"Compose","inputs":"https://teams-integration.crm3.dynamics.com/main.aspx?appid=@{outputs('Get_SalesAppID_variable_value')?['Body']?['environmentvariablevalue']}%&pagetype=entityrecord&etn=@{triggerBody()['text_4']}&id=@{triggerBody()['text_5']}"},"Add_Dynamics_365_tab_to_a_channel_in_a_Team":{"runAfter":{"Set_WebSiteURL_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"AddTab","apiId":"/providers/Microsoft.PowerApps/apis/shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51"},"parameters":{"TeamId":"@triggerBody()['text']","ChannelId":"@triggerBody()['text_1']","body/teamsApp@odata.bind":"@outputs('Get_Dynamics365AppODataBind_variable_value')?['Body']?['environmentvariablevalue']","body/displayName":"@triggerBody()['text_6']","body/configuration/contentUrl":"@outputs('Set_ContentURL_variable')","body/configuration/removeUrl":"@outputs('Get_RemoveURL_variable_value')?['Body']?['environmentvariablevalue']","body/configuration/websiteUrl":"@outputs('Set_WebSiteURL_variable')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_Environment_Variable_Values":["Succeeded"]},"type":"Scope"},"Microsoft_Teams_Collaboration_entities_record_creation":{"actions":{"Set_EntityTypeCode_variable_based_on_EntityTypeName_input_value":{"runAfter":{},"cases":{"Case_Lead":{"case":"lead","actions":{"Set_EntityTypeCode_variable_to_4_(lead)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"EntityTypeCode","value":4}}}},"Case_Opportunity":{"case":"opportunity","actions":{"Set_EntityTypeCode_variable_to_3_(opportunity)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"EntityTypeCode","value":3}}}}},"default":{"actions":{"Set_EntityTypeCode_variable_to_1_(account)":{"runAfter":{},"type":"SetVariable","inputs":{"name":"EntityTypeCode","value":1}}}},"expression":"@triggerBody()['text_4']","type":"Switch"},"Set_CollaborationPipedEntityID_variable":{"runAfter":{"Set_EntityTypeCode_variable_based_on_EntityTypeName_input_value":["Succeeded"]},"type":"Compose","inputs":"@{outputs('Get_OrganizationID_variable_value')?['Body']?['environmentvariablevalue']}|@{outputs('Get_SalesAppID_variable_value')?['Body']?['environmentvariablevalue']}|@{triggerBody()['text_5']}|@{variables('EntityTypeCode')}|@{triggerBody()['text_6']}"},"Get_Group_Team_Site":{"runAfter":{"Set_CollaborationPipedEntityID_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"GetGroupRootSite","apiId":"/providers/Microsoft.PowerApps/apis/shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51"},"parameters":{"GroupId":"@triggerBody()['text']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_a_new_Microsoft_Teams_Collaboration_record":{"runAfter":{"Set_CollaborationChannelRelativeFolderURL_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_teamscollaborations","item/msdyn_groupid":"@triggerBody()['text']","item/msdyn_tenantid":"@outputs('Get_TenantID_variable_value')?['Body']?['environmentvariablevalue']","item/msdyn_channelid":"@triggerBody()['text_1']","item/msdyn_channelfolderrelativeurl":"@outputs('Set_CollaborationChannelRelativeFolderURL_variable')","item/msdyn_teamid":"@triggerBody()['text_1']","item/regardingobjectid":"@triggerBody()['text_5']","item/regardingobjecttypename":"@triggerBody()['text_4']","item/msdyn_teamsiteurl":"@outputs('Get_Group_Team_Site')?['body/webUrl']","item/msdyn_appid":"@outputs('Get_CollaborationAppID_variable_value')?['Body']?['environmentvariablevalue']","item/msdyn_channelname":"@outputs('Get_Team_channel_details')?['body/displayName']","item/msdyn_channeltype":"standard","item/msdyn_pipedentityid":"@outputs('Set_CollaborationPipedEntityID_variable')","item/msdyn_contenturl":"@outputs('Set_ContentURL_variable')","item/msdyn_weburl":"@outputs('Set_WebSiteURL_variable')","item/msdyn_teamname":"@outputs('Get_Team_details')?['body/displayName']","item/regardingobjecttypecode":"@variables('EntityTypeCode')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Team_details":{"runAfter":{"Get_Group_Team_Site":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"GetTeam","apiId":"/providers/Microsoft.PowerApps/apis/shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51"},"parameters":{"TeamId":"@triggerBody()['text']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Team_channel_details":{"runAfter":{"Get_Team_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"GetTeamChannel","apiId":"/providers/Microsoft.PowerApps/apis/shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51"},"parameters":{"TeamId":"@triggerBody()['text']","ChannelId":"@triggerBody()['text_1']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Team_channel_Document_Library":{"runAfter":{"Team_channel_Display_Name_if_._at_the_end":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"GetTeamChannelDrive","apiId":"/providers/Microsoft.PowerApps/apis/shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51"},"parameters":{"TeamId":"@triggerBody()['text']","filter":"name eq '@{outputs('Team_channel_Display_Name_if_._at_the_end')}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Set_CollaborationChannelRelativeFolderURL_variable":{"runAfter":{"Get_Team_channel_Document_Library":["Succeeded"]},"type":"Compose","inputs":"/sites/@{replace(split(first(outputs('Get_Team_channel_Document_Library')?['body/value'])?['webUrl'], '/sites/')[1], '%20', ' ')}"},"Team_channel_Display_Name_if_._at_the_end":{"runAfter":{"Get_Team_channel_details":["Succeeded"]},"type":"Compose","inputs":"@if(equals(substring(outputs('Get_Team_channel_details')?['body/displayName'], add(length(outputs('Get_Team_channel_details')?['body/displayName']), -1), 1), '.'), substring(outputs('Get_Team_channel_details')?['body/displayName'], 0, add(length(outputs('Get_Team_channel_details')?['body/displayName']), -1)), outputs('Get_Team_channel_details')?['body/displayName'])"}},"runAfter":{"Dynamics_365_tab_creation":["Succeeded"]},"type":"Scope"},"Get_Environment_Variable_Values":{"actions":{"Get_OrganizationID_variable_value":{"runAfter":{"Get_CollaborationAppID_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"OrganizationID"}}},"Get_CollaborationAppID_variable_value":{"runAfter":{"Get_TenantID_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"Dynamics365AppForTeamsID"}}},"Get_TenantID_variable_value":{"runAfter":{"Get_RemoveURL_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"TenantID"}}},"Get_RemoveURL_variable_value":{"runAfter":{"Get_Dynamics365AppODataBind_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"Dynamics365TeamsTabRemoveURL"}}},"Get_Dynamics365AppODataBind_variable_value":{"runAfter":{"Get_SalesAppID_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"Dynamics365AppForTeamsODataBind"}}},"Get_SalesAppID_variable_value":{"runAfter":{"Get_EnvironmentDomain_variable_value":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"SalesHubAppID"}}},"Get_EnvironmentDomain_variable_value":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"9fef25e4-e6ed-ea11-a815-000d3a0c24f7"},"body":{"text":"EnvironmentDomain"}}}},"runAfter":{"Initialize_EntityTypeCode_variable":["Succeeded"]},"type":"Scope"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Microsoft_Teams_Collaboration_entities_record_creation":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"dynamics365tabid":"@outputs('Add_Dynamics_365_tab_to_a_channel_in_a_Team')?['body/id']","microsoftteamscollaborationrecordid":"@outputs('Create_a_new_Microsoft_Teams_Collaboration_record')?['body/msdyn_teamscollaborationid']"},"schema":{"type":"object","properties":{"dynamics365tabid":{"title":"Dynamics365TabID","x-ms-dynamically-added":true,"type":"string"},"microsoftteamscollaborationrecordid":{"title":"MicrosoftTeamsCollaborationRecordID","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}