SolutionsUnpacked/CustomTeamsIntegration/Workflows/Service-UpdateDisplayNameofaDynamics365tabinaTeamc-43AE9951-5BED-EA11-A815-000D3A0C24F7.json
{"properties":{"connectionReferences":{"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51","logicalName":"rpo_5Fms-20graph-20api-20custom"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"TeamID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"ChannelID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"RecordName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"TabID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"ExistingMicrosoftTeamsCollaborationId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_5","text_6","text_7"]}}}},"actions":{"Dynamics_365_tab_update":{"actions":{"Update_a_tab_in_a_channel_in_a_Team":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"UpdateTab","apiId":"/providers/Microsoft.PowerApps/apis/shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51"},"parameters":{"TeamId":"@triggerBody()['text']","ChannelId":"@triggerBody()['text_1']","TabId":"@triggerBody()['text_6']","body/displayName":"@triggerBody()['text_5']","body/configuration/contentUrl":"@outputs('Get_Tab_details')?['body/configuration/contentUrl']","body/configuration/websiteUrl":"@outputs('Get_Tab_details')?['body/configuration/websiteUrl']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record":["Succeeded"]},"type":"Scope"},"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record":{"actions":{"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record_-_Try":{"actions":{"Get_Tab_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"GetTab","apiId":"/providers/Microsoft.PowerApps/apis/shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51"},"parameters":{"TeamId":"@triggerBody()['text']","ChannelId":"@triggerBody()['text_1']","TabId":"@triggerBody()['text_6']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_existing_Microsoft_Teams_Collaboration_record":{"runAfter":{"Get_Tab_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_teamscollaborations","recordId":"@triggerBody()['text_7']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record_-_Catch":{"actions":{"Terminate_run_as_failed":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"100","message":"Tab or Microsoft Teams Collaboration record missing."}}}},"runAfter":{"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record_-_Try":["Failed"]},"type":"Scope"}},"runAfter":{},"type":"Scope"},"Microsoft_Teams_Collaboration_entities_record_update":{"actions":{"Split_CollaborationPipedEntityID_current_value":{"runAfter":{},"type":"Compose","inputs":"@split(outputs('Get_existing_Microsoft_Teams_Collaboration_record')?['body/msdyn_pipedentityid'], '|')"},"Set_CollaborationPipedEntityID_variable":{"runAfter":{"Split_CollaborationPipedEntityID_current_value":["Succeeded"]},"type":"Compose","inputs":"@{outputs('Split_CollaborationPipedEntityID_current_value')[0]}|@{outputs('Split_CollaborationPipedEntityID_current_value')[1]}|@{outputs('Split_CollaborationPipedEntityID_current_value')[2]}|@{outputs('Split_CollaborationPipedEntityID_current_value')[3]}|@{triggerBody()['text_5']}"},"Update_existing_Microsoft_Teams_Collaboration_record":{"runAfter":{"Set_CollaborationPipedEntityID_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_teamscollaborations","recordId":"@triggerBody()['text_7']","item/msdyn_pipedentityid":"@outputs('Set_CollaborationPipedEntityID_variable')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Dynamics_365_tab_update":["Succeeded"]},"type":"Scope"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Microsoft_Teams_Collaboration_entities_record_update":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"dynamics365tabid":"@outputs('Update_a_tab_in_a_channel_in_a_Team')?['body/id']","microsoftteamscollaborationrecordid":"@outputs('Update_existing_Microsoft_Teams_Collaboration_record')?['body/msdyn_teamscollaborationid']"},"schema":{"type":"object","properties":{"dynamics365tabid":{"title":"Dynamics365TabID","x-ms-dynamically-added":true,"type":"string"},"microsoftteamscollaborationrecordid":{"title":"MicrosoftTeamsCollaborationRecordID","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}