SolutionsUnpacked/CustomTeamsIntegration/Workflows/Service-MoveDynamics365tabtoanotherchannelinTeams-DB2BDD94-0CEE-EA11-A815-000D3A0C24F7.json
{"properties":{"connectionReferences":{"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51","logicalName":"rpo_5Fms-20graph-20api-20custom"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"TeamID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"ChannelID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"EntityTypeName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_3":{"title":"RecordID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_4":{"title":"RecordName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_5":{"title":"TabID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_6":{"title":"ExistingMicrosoftTeamsCollaborationId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_7":{"title":"NewTeamID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_8":{"title":"NewChannelID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_4","text_5","text_6","text_7","text_8"]}}}},"actions":{"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record":{"actions":{"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record_-_Try":{"actions":{"Get_Tab_details":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"GetTab","apiId":"/providers/Microsoft.PowerApps/apis/shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51"},"parameters":{"TeamId":"@triggerBody()['text']","ChannelId":"@triggerBody()['text_1']","TabId":"@triggerBody()['text_5']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_existing_Microsoft_Teams_Collaboration_record":{"runAfter":{"Get_Tab_details":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_teamscollaborations","recordId":"@triggerBody()['text_6']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Scope"},"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record_-_Catch":{"actions":{"Terminate_run_as_failed":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"100","message":"Tab or Microsoft Teams Collaboration record missing."}}}},"runAfter":{"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record_-_Try":["Failed"]},"type":"Scope"}},"runAfter":{},"type":"Scope"},"Add_Dynamics_365_tab_in_a_new_Team_channel":{"runAfter":{"Delete_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"f13ea81b-32ed-ea11-a815-000d3a0c24f7"},"body":{"text":"@triggerBody()['text_7']","text_1":"@triggerBody()['text_8']","text_4":"@triggerBody()['text_2']","text_5":"@triggerBody()['text_3']","text_6":"@triggerBody()['text_4']"}}},"Delete_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record":{"actions":{"Delete_existing_Dynamics_365_tab":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"DeleteTab","apiId":"/providers/Microsoft.PowerApps/apis/shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51"},"parameters":{"TeamId":"@triggerBody()['text']","ChannelId":"@triggerBody()['text_1']","TabId":"@triggerBody()['text_5']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_existing_Microsoft_Teams_Collaboration_record":{"runAfter":{"Delete_existing_Dynamics_365_tab":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msdyn_teamscollaborations","recordId":"@triggerBody()['text_6']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_existing_Dynamics_365_tab_and_Microsoft_Teams_Collaboration_record":["Succeeded"]},"type":"Scope"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Add_Dynamics_365_tab_in_a_new_Team_channel":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"dynamics365tabid":"@outputs('Add_Dynamics_365_tab_in_a_new_Team_channel')?['Body']?['dynamics365tabid']","microsoftteamscollaborationrecordid":"@outputs('Add_Dynamics_365_tab_in_a_new_Team_channel')?['Body']?['microsoftteamscollaborationrecordid']"},"schema":{"type":"object","properties":{"dynamics365tabid":{"title":"Dynamics365TabID","x-ms-dynamically-added":true,"type":"string"},"microsoftteamscollaborationrecordid":{"title":"MicrosoftTeamsCollaborationRecordID","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}