SolutionsUnpacked/CustomTeamsIntegration/Workflows/Service-GetEnvironmentVariablevalue-9FEF25E4-E6ED-EA11-A815-000D3A0C24F7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"EnvironmentVariableDisplayName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Initialize_EnvironmentVariableValue_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"EnvironmentVariableValue","type":"string"}]}},"Get_Environment_Variable_Value_-_Try":{"actions":{"Search_Environment_Variable_Definition_with_Display_Name":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"environmentvariabledefinitions","$select":"environmentvariabledefinitionid","$filter":"displayname eq '@{triggerBody()['text']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Search_Environment_Variable_Value_with_Environment_Variable_Definition_Id":{"runAfter":{"Search_Environment_Variable_Definition_with_Display_Name":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"ListRecords"},"parameters":{"entityName":"environmentvariablevalues","$select":"value","$filter":"_environmentvariabledefinitionid_value eq '@{first(outputs('Search_Environment_Variable_Definition_with_Display_Name')?['body/value'])?['environmentvariabledefinitionid']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Put_the_value_we_found_in_EnvironmentVariableValue_variable":{"runAfter":{"Search_Environment_Variable_Value_with_Environment_Variable_Definition_Id":["Succeeded"]},"type":"SetVariable","inputs":{"name":"EnvironmentVariableValue","value":"@{first(outputs('Search_Environment_Variable_Value_with_Environment_Variable_Definition_Id')?['body/value'])?['value']}"}}},"runAfter":{"Initialize_EnvironmentVariableValue_variable":["Succeeded"]},"type":"Scope"},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Get_Environment_Variable_Value_-_Try":["Failed","TimedOut","Skipped","Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"environmentvariablevalue":"@variables('EnvironmentVariableValue')"},"schema":{"type":"object","properties":{"environmentvariablevalue":{"title":"EnvironmentVariableValue","x-ms-dynamically-added":true,"type":"string"}}}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}