SolutionsUnpacked/CustomTeamsIntegration/Workflows/Service-ConfigureaTeamchannelforanAccount-47643D69-C4EE-EA11-A815-000D3A0C24F7.json
{"properties":{"connectionReferences":{"shared_teams":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_teams"}},"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_rpo-5Fms-20graph-20api-20custom-5F668ee2691bcc1b51","logicalName":"rpo_5Fms-20graph-20api-20custom"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"AccountName","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"AccountID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_2":{"title":"TeamID","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2"]}}}},"actions":{"Create_a_channel_for_the_Account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_teams","operationId":"CreateChannel","apiId":"/providers/Microsoft.PowerApps/apis/shared_teams"},"parameters":{"groupId":"67ea265f-e9b4-4819-bc48-a98255cd0cd7","body/displayName":"@triggerBody()['text']","body/description":"Dedicated Team channel for the  @{triggerBody()['text']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_Tabs_in_the_new_channel_to_find_the_Wiki_tab_ID":{"runAfter":{"Add_Teams_Tab_information_to_the_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"ListTabs","apiId":""},"parameters":{"TeamId":"@triggerBody()['text_2']","ChannelId":"@outputs('Create_a_channel_for_the_Account')?['body/id']","$filter":"displayName eq 'Wiki'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_Wiki_tab_in_the_new_channel":{"runAfter":{"List_Tabs_in_the_new_channel_to_find_the_Wiki_tab_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_rpo-5fms-20graph-20api-20custom-5f668ee2691bcc1b51","operationId":"DeleteTab","apiId":""},"parameters":{"TeamId":"@triggerBody()['text_2']","ChannelId":"@outputs('Create_a_channel_for_the_Account')?['body/id']","TabId":"@first(outputs('List_Tabs_in_the_new_channel_to_find_the_Wiki_tab_ID')?['body/value'])?['id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Delete_Wiki_tab_in_the_new_channel":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"accountchannelid":"@outputs('Create_a_channel_for_the_Account')?['body/id']","dynamics365tabid":"@outputs('Add_a_Dynamics_365_tab_for_the_Account')?['Body']?['dynamics365tabid']","microsoftteamscollaborationrecordid":"@outputs('Add_a_Dynamics_365_tab_for_the_Account')?['Body']?['microsoftteamscollaborationrecordid']"},"schema":{"type":"object","properties":{"accountchannelid":{"title":"AccountChannelID","x-ms-dynamically-added":true,"type":"string"},"dynamics365tabid":{"title":"Dynamics365TabID","x-ms-dynamically-added":true,"type":"string"},"microsoftteamscollaborationrecordid":{"title":"MicrosoftTeamsCollaborationRecordID","x-ms-dynamically-added":true,"type":"string"}}}}},"Add_a_Dynamics_365_tab_for_the_Account":{"runAfter":{"Create_a_channel_for_the_Account":["Succeeded"]},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"f13ea81b-32ed-ea11-a815-000d3a0c24f7"},"body":{"text":"@triggerBody()['text_2']","text_1":"@outputs('Create_a_channel_for_the_Account')?['body/id']","text_4":"account","text_5":"@triggerBody()['text_1']","text_6":"@triggerBody()['text']"}}},"Add_Teams_Tab_information_to_the_Account":{"runAfter":{"Add_a_Dynamics_365_tab_for_the_Account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@triggerBody()['text_1']","item/rpo_teamid":"@triggerBody()['text_2']","item/rpo_teamschannelid":"@outputs('Create_a_channel_for_the_Account')?['body/id']","item/rpo_teamstabid":"@outputs('Add_a_Dynamics_365_tab_for_the_Account')?['Body']?['dynamics365tabid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}